<body style="background-color:lightgrey;box-sizing:border-box;">
<div id="container">
<h1>About us</h1>
<p>Skyline School Muguga is an international high school located on the outskirts of Nairobi. Our main objective, to help grow powerful global citizens</p>
<ul>
<li >Contact us : 01123748499</li>
<li  >Email: skylineschool@gmail.com</li>
<li >Twitter : @skylineschool</li>
<li  >Instagram : @skyline_school</li>
</ul>
</div>
</div>
</body>